body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://t.ctcdn.com.br/Z5Qe-O-ReNRhD9JOpJbr9FAY6Vw=/512x288/smart/filters:format(webp)/i468321.jpeg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 10px;
}

.page-title {
  color: #122063;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 15px;
}

.page-logo {
  width: 150px;
}

.alura-logo {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 350px;
}
